{
    "blogTitle" : "Dev wanderings",
    "siteUrl": "http://dev-wanderings.com",
    "author": "Julien Lanot",
    "email": "dev.wanderings@gmail.com",
    "posts": "_posts",
    "layouts": "_layouts",
    "theme": "bootstrap",
    "output": "../Website",
    "urlFormat": "yyyy/MM/slug",
    "copyDirectories": [
        "images",
        "javascripts",
        "stylesheets",
        "fonts"
    ],
    "defaultPostLayout": "post",
    "processFiles": [{
        "file": "index.cshtml",
        "loop": "Posts"
    },{
        "file": "category.cshtml",
        "loop": "Categories"
    },{
        "file": "categories.cshtml => category"
    },{
        "file": "archive.cshtml"
    },{
        "file": "about.cshtml"
    },{
        "file": "drafts.cshtml",
        "loop": "Drafts"
    },{
        "file": "feed.xml",
        "loop": "atom"
    },{
    "file": "sitemap.xml",
    "loop": "sitemap"
  }]
}